
html, body {
    height: 100%;
  }
  body {
    min-height: 100%;
    text-align: center;
    background-color: rgb(18, 78, 182);
  }
#container{
    background-color: rgba(247, 27, 11, 0.557);
    text-align: left;
    font-family: 'Roboto', sans-serif;
    width:100%;
    height: 100%;
    margin: 0 auto;
    font-size: 2vw;
    /* Awesome!  vw is responsive text! */
}
#header{
    text-align: center;
    color: rgba(240, 221, 18, 0.931);
}
.side{
    display: inline-block;
    background-color: rgba(7, 44, 122, 0.719);
    width: 48%;
    height: 70%;
    vertical-align: top;
}
.resize{
    width: 50rem;
}
#player{
    background-image: url(./img/goku.jpeg);
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}
#enemy{
    background-image: url(./img/cell.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    height: 100%;
}
/* change enemy to freeza for NewEnemy function */
#frieza{
    background-image: url(./img/frieza.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    height: 100%;
}
#playerspot{
    background-color: rgba(255, 192, 203, 0.733);
}
#enemyspot{
    background-color: rgba(0, 255, 255, 0.582);
}
/* could lower health bar by adjusting width % to health % */
#playerspot2{
    background-color: rgba(0, 0, 255, 0.338);
    width: 80%;
    text-align: right;
}
#enemyspot2{
    background-color: rgba(4, 242, 12, 0.214);
    color: black;
    width: 66%;
    text-align: right;
}
#enemyspot3{
    background-color: rgba(202, 143, 14, 0.214);
    color: red;
    width: 36%;
    text-align: right;
}
#enemyspot4{
    background-color: rgba(242, 4, 222, 0.214);
    color: silver;
    width: 75%;
    text-align: right;
}
#playerMoveset{
    background-color: rgba(0, 0, 255, 0);
    height: 55%;
}
#enemyMoveset{
    height: 55%;
}
#announcer{
    text-align: center;
}
.move{
    padding: .5vw;
    color: green;
    background-color: black;
    font-size: 1.2vw;
}
.move1{
    padding: .5vw;
    color: rgba(255, 0, 0, 0.753);
    background-color: black;
    font-size: 1.2vw;
}
.move2{
    padding: .5vw;
    color: rgba(77, 182, 243, 0.918);
    background-color: rgba(128, 0, 128, 0.335);
    font-size: 1.2vw;
}
.move23{
    padding: .5vw;
    color: rgba(255, 230, 0, 0.692);
    background-color: rgba(128, 0, 128, 0.335);
    font-size: 1.2vw;
}
#footer{
    padding: .8vw;
    background-color: black;
}
#footer a{
    text-decoration: none;
    color: rgba(245, 245, 245, 0.591);
    font-size: .75vw;
}